.debugText{
    height:30vh;
    width: 100%;
    background-color: aqua;
    overflow-y: scroll;
}

.keyboardContainer{
    position: absolute;
    bottom: 2vh;
    display: flex;
    flex: 0 0 auto;
    height: 20vh;
}

.pressed{
    background-color: yellowgreen !important;
}

.key{
    display: inline-block;
    height: 100%;
    min-width: 2vw;
    background-color: white;
    border: 5px;
    border-radius: 30% 30% 30% 30% / 5% 5% 5% 5%;
    border-color: black;
    border-style: groove;
    // margin:15px;
}

.whiteKey{

}

.blackKey{
    min-width: 1vw;
    display:float;
    background-color: black;
}